.events {
  opacity: 1;
  border-radius: 12px;
  padding: 0rem;
  margin: 0rem auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 500px;
}

.addEvent {
  position: absolute;
  bottom: 12;
  right: 1rem;
  z-index: 999999;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: large;
  font-weight: 300;
  color: white;
  background-color: rgb(0, 110, 255);
}
