.profilepanel {
  background-color: transparent;
}

.profileimg {
  vertical-align: middle;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
}

.profilepanel h2 {
  margin-top: 10px;
  padding: 0;
}
